  @media only screen and (min-width: 480px) {
#fle{
        padding-bottom: 2rem;
      width: auto;
      height: auto;
       display: flex;
       flex-direction: row;
	justify-content: space-between;
  align-items: center;
      padding-top: 1rem;
    background-color: #272727;
    background-size: cover;
  }
  		.fbu{height: 40px;
			border-radius: 10px;
		font-weight: bold;
		justify-content: center;
		background-color: yellow;
		color: black;
		width: 10vw;
		outline: none;
	}
		.lbu{
		height: 40px;
		border-radius: 10px;
		background-color: unset;
		font-weight: bold;
		color: black;
		border: 3px solid white;
		width: 10vw;
		outline: none;
	}
	.first{
	height: 500px;
	width: 300px ;
	margin-left: 25px;
	text-align: center;
	
	padding-left: 12px;
	padding-right: 12px;
	font-size: 19px;
		}
	.second{background-color: yellow;
	height: 500px;
	width: 300px;
	color: #272727;
	margin-left: 25px;
	text-align: center;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 19px;
	}
	  .third{
	height: 500px;
	width: 300px;
	text-align: center;
	margin-left: 0px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 19px;
	margin-top:1rem;
		}
	  .ree{
Color:white;
}
	.bu{outline: none;
		height: 40px;
		border-radius: 10px;
		background-color: unset;
		font-weight: bold;
		color: #E4EFF4;
		border: 3px solid white;
		width: 10rem;
	}
		.blu{outline: none;
		height: 40px;
		border-radius: 10px;
		background-color: unset;
		font-weight: bold;
		color: #272727;
		border: 3px solid white;
		width: 10rem;
	}
	.bu:hover{
    color:#272727;
    background-color:  #E4EFF4;
      transition: all 0.5s ease-in-out;
  }
	.blu:hover{
    color:#E4EFF4;
    background-color: #272727;
      transition: all 0.5s ease-in-out;
  }
  .pic{
			width: 10rem;
		height: 10rem;
		border-radius: 19px;
	}
.menu_btn{	display: none;
   	visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 0.5rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
   .menu_btn_buger{
   	display: none;
   	visibility: hidden;
      position: absolute;
      right: 0rem;
      top: 0.5rem;
      width: 28px;
      height: 3px;
      background-color: #fff ;
      transition: all 0.5s ease-in-out;
    }
    .menu_btn_buger::before {
      content: '';
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: #fff;
      transition: all 0.5s ease-in-out;
    }
    .menu_btn_buger::after{
      content: '';
      position: absolute;
      top: 8px;
      width: 28px;
      height: 3px;
      background: #fff;
      transition: all 0.5s ease-in-out;
    }
    .menu_btn_buger.open{
      transform:rotate(720deg) ;
      background: transparent;
    }
    .menu_btn_buger.open::before{
      transform: rotate(45deg) translate(5px,8px) ;
    }
    .menu_btn_buger.open::after{
      transform: rotate(-45deg) translate(3px,-7px) ;
    }
    .nav{
      position: fixed;
      top: 0;
      left: 0;
      width:100vw ;
      opacity: 0.98;
      visibility: hidden;
    }
 .nav.open{
      visibility: visible;
 }
    .menu_nav{
      display: flex;
      flex-flow: column wrap;
      align-items: center;
    overflow: hidden;
      height: 100vh;
      background:#272727 ;
      list-style-type: none;
      padding-right: 1rem;
      transform: translateY(-100%);
      transition: all 0.5s ease-in-out;
    }
    .menu_nav.open{
      transform: translateY(0);
    }
    .menu_nav_item{
    transform: translateX(100vh); 
    transition: all 0.5s ease-in-out;
    }
    .menu_nav_item.open{
      transform: translateX(0);
    }
    .menu_nav_item.active > a{
      color:orange;
    }
    .menu_nav_link{
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 2rem 0;
      font-weight: 300;
      transition: all 0.5s ease-in-out;
      
    }
    .menu_nav_link:hover{
      color: white;
  }
.navf{visibility: visible;
	 position: absolute;
  z-index: 1;
  top: 0rem;
  right: 0rem;
  
  height: 20px;
  cursor: pointer;
      list-style-type: none;

}
.navf>li >a{
	 
	font-weight: bolder;
	text-transform: uppercase;
	text-decoration:none;
	color: black;
	padding-left: 1.2rem;
	font-size:1.1rem;
}
.navf>li >a:hover{
	font-weight: bolder;
	text-transform: uppercase;
	text-decoration:none;
	color: brown;
	text-decoration: underline;
	transition: all 0.5s ease-in-out;
	padding-left: 1.0rem;
	font-size:1.3rem;
}
}/*
  @media only screen and (min-width: 768px) {
  .first{
  height: 300px;
  width: 500px;
  margin-left: 25px;
  text-align: center;
  
  padding-left: 12px;
  padding-right: 12px;
  font-size: 19px;
    }
  .second{background-color: yellow;
  height: 500px;
  width: 500px;
  color: #272727;
  margin-left: 0px;
  text-align: center;
  padding-left: 0px;
  padding-right: 12px;
  font-size: 19px;
  }
#fle{
        padding-bottom: 2rem;
      width: auto;
      height: auto;
       display: flex;
      padding-top: 1rem;
    background-color: #272727;
    background-size: cover;
  }
  }
